# IDEs and OS files
.idea/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directories
target/
backend/target/
frontend/dist/
frontend/out-tsc/
frontend/bazel-out/

# Node environment
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Angular framework
.angular/

# Testing
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/*.log
